__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv/
venv/
*.tar
*.tar.*
*.zip

.env

.idea/

node_modules/

dataset/
*dataset*/
transform/

*.png
*.jpg
*.jpeg
*.pt

workspace/

ccache/
cache/
.langchain.db
n4j_demo*/
